cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
google-cloud-bigquery==2.13.1
google-cloud-storage==1.37.1
google-resumable-media==1.2.0
idna==2.8
pyasn1==0.4.8
pyasn1-modules==0.2.7
pytz==2019.3
PyYAML>=5.4
requests==2.22.0
six==1.13.0
urllib3==1.25.7
